<div class="mdl-layout__tab-panel is-active" id="articles">
    <section class="section--center mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--12-col">
        <h4>Article List</h4>

        <section class="section--center mdl-color--dark mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text justify-text">
                    <h4>Proof: Existence of Linearly Independent Vectors in Images of Non-scalar-multiple Linear Transformations</h4>
                    This is a challenging problem in an exercise of SI131 Linear Algebra for Information Science. This article elaborates my thoughts in this problem.
                    Proposition: Let τ1,τ2:V→V be linear transformations such that one is not a scalar multiple of the other. Suppose that dim Im(τ1),dim Im(τ2)≥2. 
                    Then there exists a v∈V such that τ1(v), τ2(v) are linearly independent.
                </div>
                <div class="mdl-card__actions">
                    <a href="existence-independent-vectors-in-im-LT" class="mdl-button">Read More</a>
                </div>
            </div>
        </section>

        <section class="section--center mdl-color--dark mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text justify-text">
                    <h4>Curse of Dimensionality in Uniform p-ball Sampling Space</h4>
                    Curse of dimensionality reveals the fact that all sample points are going to become sparse and tend to the edge of the sampling space in high dimensions, which is a common problem in machine learning. This article is going to verify curse of dimensionality under a sampling space of a unit p-ball.
                </div>
                <div class="mdl-card__actions">
                    <a href="curse-of-dimensionality-pball" class="mdl-button">Read More</a>
                    <a href="curse-of-dimensionality-pball/sparsity_high_dim.ipynb" class="mdl-button">Download Source</a>
                </div>
            </div>
        </section>
    </div>
    </section>
</div>