<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">
            Copyright &copy; 2020 Yuehao Wang. Themed with
            <a class="mdl-color-text--grey-100" href="https://getmdl.io/" target="_blank">MDL</a>.
        </div>
    </div>
    <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
            <li><a href="https://github.com/yuehaowang" target="_blank">Github</a></li>
            <li><a href="https://www.instagram.com/yuehao727/" target="_blank">Instagram</a></li>
            <li><a href="https://www.linkedin.com/in/yuehaowang/" target="_blank">LinkedIn</a></li>
        </ul>
    </div>
</footer>