<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary mdl-shadow--2dp">
    <div class="mdl-layout--large-screen-only mdl-layout__header-row ">
    </div>
    <div class="mdl-layout__header-row">
        <h3>Yuehao's Lab</h3>
    </div>
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    </div>
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
        {# header_buttons #}
        <a href="https://github.com/yuehaowang" target="_blank" class="mdl-layout__tab">Github <i class="material-icons">link</i></a>
    </div>
</header>