<div class="mdl-layout__tab-panel is-active" id="showcase">
    <section class="section--center mdl-color--dark mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>Games</h4>
            
                <ul class="demo-list-three mdl-list">
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--cyan mdl-list__item-avatar">games</i>
                            <span>SanguoTD</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="https://github.com/yuehaowang/sanguo_td" target="_blank"><i class="material-icons">call_made</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--teal mdl-list__item-avatar">games</i>
                            <span>Flying Stone</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="/games/flying_stone/index.html"><i class="material-icons">play_circle_outline</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--blue mdl-list__item-avatar">games</i>
                            <span>Crazy Racing</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="/games/crazy_racing/index.html"><i class="material-icons">play_circle_outline</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--pink mdl-list__item-avatar">games</i>
                            <span>Ink Spill</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="/games/ink_spill/index.html"><i class="material-icons">play_circle_outline</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--grey mdl-list__item-avatar">games</i>
                            <span>Raglan and Over</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="/games/raglan_and_over/index.html"><i class="material-icons">play_circle_outline</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--purple mdl-list__item-avatar">games</i>
                            <span>The Best Arithmetic</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="/games/the_best_arithmetic/index.html"><i class="material-icons">play_circle_outline</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--blue-gray mdl-list__item-avatar">games</i>
                            <span>Mine Sweeper</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="/games/minesweeper/index.html"><i class="material-icons">play_circle_outline</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--deep-orange mdl-list__item-avatar">games</i>
                            <span>Fan Sangoku</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="/games/fan_sangoku/index.html"><i class="material-icons">play_circle_outline</i></a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section--center mdl-color--dark mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>Libraries</h4>

                <ul class="demo-list-three mdl-list">
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-avatar">code</i>
                            <span>Pylash Engine</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="https://github.com/yuehaowang/pylash_engine" target="_blank"><i class="material-icons">call_made</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-avatar">code</i>
                            <span>Duckling *</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="https://github.com/yuehaowang/duckling" target="_blank"><i class="material-icons">call_made</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-avatar">code</i>
                            <span>Greeting Card</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="https://github.com/yuehaowang/greeting_card" target="_blank"><i class="material-icons">call_made</i></a>
                        </span>
                    </li>
                    
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-avatar">code</i>
                            <span>IRMap</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="https://github.com/yuehaowang/irmap" target="_blank"><i class="material-icons">call_made</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-avatar">code</i>
                            <span>Jpp.js</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="https://github.com/yuehaowang/jpp.js" target="_blank"><i class="material-icons">call_made</i></a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section--center mdl-color--dark mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>Musical Compositions</h4>

                <ul class="demo-list-three mdl-list">
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--blue mdl-list__item-avatar">music_note</i>
                            <span>Band Mix *</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="/player/?idx=0" target="_blank"><i class="material-icons">album</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--red mdl-list__item-avatar">music_note</i>
                            <span>Yangtze River Park *</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="/player/?idx=1" target="_blank"><i class="material-icons">album</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--pink mdl-list__item-avatar">music_note</i>
                            <span>Birthday Fireworks *</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="/player/?idx=2" target="_blank"><i class="material-icons">album</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--teal mdl-list__item-avatar">music_note</i>
                            <span>Balcony *</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="/player/?idx=3" target="_blank"><i class="material-icons">album</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--purple mdl-list__item-avatar">music_note</i>
                            <span>Travelling Apollo *</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="/player/?idx=4" target="_blank"><i class="material-icons">album</i></a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section--center mdl-color--dark mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
                <h4>Toys</h4>

                <ul class="demo-list-three mdl-list">
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--teal mdl-list__item-avatar">toys</i>
                            <span>Portals</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="/demo/portals/index.html"><i class="material-icons">play_circle_fill</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--teal mdl-list__item-avatar">toys</i>
                            <span>Beta Class *</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="https://github.com/yuehaowang/BetaClass" target="_blank"><i class="material-icons">call_made</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--teal mdl-list__item-avatar">toys</i>
                            <span>Toy Flow *</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="https://github.com/yuehaowang/ToyFlow" target="_blank"><i class="material-icons">call_made</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--teal mdl-list__item-avatar">toys</i>
                            <span>Posea *</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="https://github.com/yuehaowang/posea" target="_blank"><i class="material-icons">call_made</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--teal mdl-list__item-avatar">toys</i>
                            <span>Lokout *</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="https://github.com/CitiCup-Lokout" target="_blank"><i class="material-icons">call_made</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--teal mdl-list__item-avatar">toys</i>
                            <span>Box2D Bomb</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="/demo/box2d_bomb/index.html"><i class="material-icons">play_circle_fill</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--teal mdl-list__item-avatar">toys</i>
                            <span>Box2D Linkage</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="/demo/box2d_linkage/index.html"><i class="material-icons">play_circle_fill</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--teal mdl-list__item-avatar">toys</i>
                            <span>Drag and Drop Robot</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="/demo/drag_and_drop_robot/index.html"><i class="material-icons">play_circle_fill</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--teal mdl-list__item-avatar">toys</i>
                            <span>SAT Algorithm</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="/demo/sat_js/index.html"><i class="material-icons">play_circle_fill</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--teal mdl-list__item-avatar">toys</i>
                            <span>Ride Bike Box2D</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="/demo/ridebike_box2d/index.html"><i class="material-icons">play_circle_fill</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--teal mdl-list__item-avatar">toys</i>
                            <span>Wave Superposition</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="/apps/wave_superposition/index.html"><i class="material-icons">play_circle_fill</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--teal mdl-list__item-avatar">toys</i>
                            <span>Greeting Card Creator</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="/apps/greeting_card_creator/index.html"><i class="material-icons">play_circle_fill</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--one-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-color--teal mdl-list__item-avatar">toys</i>
                            <span>Tower Defense</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="/demo/TowerDefense/index.html"><i class="material-icons">play_circle_fill</i></a>
                        </span>
                    </li>
                </ul>
        </div>
        </div>
    </section>

    <section class="section--center mdl-color--dark mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>Copyrights</h4>

                <ul>
                    <li>Games and toys are licensed under a <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GPLv3.0 License</a>.</li>
                    <li>Musical compositions are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>. <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a></li>
                    <li>Licenses of libraries are placed in their project repositories.</li>
                </ul> 
            </div>
        </div>
    </section>

    <section class="section--center mdl-color--dark mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>Notes</h4>

                <ul>
                    <li><b>*</b> implies the work was done during my undergraduate period.</li>
                    <li>Others were made when I was a high school student.</li>
                </ul>
            </div>
        </div>
    </section>
</div>